{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="post" action="{% url 'add_team' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Name.." required>
        <input type="text" name="desc" placeholder="Desc" required>
        <input type="file" name="im" required>
        <input type="radio" id="yes" name="core" required value="True">
<label for="yes">Core</label>
<input type="radio" id="no" name="core" value="False">
<label for="no">Others</label>
        <button type="submit">Add member</button>
    </form>
</div>

<br><br>
<div class="container">
{% for new in team %}

<h4>{{ new.title }}</h4>
<a href="{% url 'del_team' new.id %}">Delete</a>
<hr>
{% endfor %}
</div>

{% endblock %}