{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                 <h1>ANTYODAYA</h1>
                 <br>
                 <div class="container">
                 <img width="100%" height="500px"  src="{% static 'images/3.jpeg' %}" alt="">
                </div>
                <br><br>
                <h5 style="text-align:center;font-weight: 400">Anokhi पहल is the non profit organisation run by the students of MNNIT Allahabad and is working to provide education to the less fortunate.

Antyodaya-the annual fest of anokhi पहल. We aim to create a unique platform for students who have lot of potential, all they needof from different Government schools(where activities or events are not conducted for the sake of students) of prayagraj participate and gain a unique experience and exposure while having fun along the way. The various scientific, cultural and artistic competitions have been specifically designed to judge students based on their creative, analytical and innovative ability. Every year Antyodaya is conducted on eve on Children’s Day within the college campus.
Antyodaya is conducted for an all-round learning experience filled with fun!

Anokhi पहल has successfully conducted 3 editions so far and November, 2020 will witness fourth edition of Antyodaya.


</h5>
</div>
                <!-- .col -->
             </div>
          
<!-- .row -->

<br><br>


<!--Prize distribution section-->

    <div class="home-page-icon-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="images/hands-gray.png" alt="">
                            <img src="images/hands-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">We are a big family.
                        </header>

                        <div class="entry-content">
                            <br><br>
                            <p>500+
Students
Participate every year.
</p>
                            <br><br><br><br>
                        </div>
                    </div>

        
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="images/donation-gray.png" alt="">
                            <img src="images/donation-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Volunteers</h3>
                        </header>

                        <div class="entry-content">
                            <p>We have a big family of coordinators, volunteers and faculties.With 80+ volunteers we always stands on people expectations.From managing finances,scheduling and public relation its never easy to go ahead without these amazing volunteers.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="images/charity-gray.png" alt="">
                            <img src="images/charity-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Its all about your happiness and joy.</h3>
                        </header>

                        <div class="entry-content">
                            <br><br>
                            <p> 12+ Events are organised in Antyodaya</p>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

<h1 style="text-align: center;">Events</h1>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Project Demonstration</h4>
In this event, students will be making innovative model to solve daily life problems.This is a flagship event in which the problem statements have been framed to target the problems in daily life and creating an efficient way to solve by being creative, analysing and identifying the problem and finally coming up with an innovative solution.The event would have exciting prizes along with cash prize.
</div>
<div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (8).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px">
<h4>Quiz</h4>
Quiz is the only way to check the mental and spontaneous thinking abilities of a student. This quiz is to be based on basic science facts, aptitude and reasoning. The event is sectioned into two groups with 6th to 8th in junior group and 9th to 12th in senior.
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (4).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Young Innoverse Challenge</h4>
Every participant of Antyodaya would be required to submit an innovative approach to the given problem statements that deal with daunting social problems
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (4).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Oration</h4>
The art of delivering your views, thoughts and opinions is oration. It allows us to form connections, influence decisions, and motivate change. This event is scheduled to be conducted in both Hindi and English language. 
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (3).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Singing</h4> 
Expression your emotions through music is singing. It tests the combination of fluency, speed and of voice. Antyodaya team conducts mono/duet singing and give chance to children to show their talent through singing.
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (1).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Poster Making</h4>
Art is nothing but the expression of human imagination, visualization and thought processing. Art is the only field where creativity comes out with shining results.
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (6).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Fancy Dress Competition</h4>
Fancy dress is one of the most exciting things for young ones. They love to dress apart and resemble their favourite animal, fruit or any cartoon character. </div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1.jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Games</h4>
A game is a system in which players engage in an artificial conflict, defined by rules, that results in a quantifiable outcome.A game is a form of art.</div>
    <div class="col-md-6"><img style="padding:40px" src="{% static 'images/ap (1).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Mono/Duet Act</h4>
We often do not completely understand all the emotions that are conveyed to us. Acting helps us live in those moments, it is thus the most powerful form to communicate and interact with the masses.
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (2).jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Essay Writing</h4>
Essay writing is the best method to check how well a student can describe his thoughts with respect to any given topic. This is why essay writing competition is scheduled for both junior and senior group. The competition is distinctly conducted in two languages, i.e, English and Hindi.
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/4.jpg' %}" width="400px" height="300px"></div>
</div>

<div class="row">
    <div class="col-md-6" style="padding:40px"><h4>Sports Events</h4>
(Race  , Chess ,   slow cycling)
Sports is as important as academics. Every student often foregoes physical fitness to build mental fortitude not realising that both often are as important in forming their brains
</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (2).jpg' %}" width="400px" height="300px"></div>
</div>


<h1 style="text-align: center;">Prize Distributions</h1>

<div class="row">
    <div class="col-md-6" style="padding:40px">Winners of anokhi पहल were awarded Certificate of achievement for outstanding efforts to help protect and preserve the environment(young innoverse challenge). 
Some children are unable to find out that in which side (technical,cultural etc) they can do best


</div>
    <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap13.jpeg' %}" width="400px" height="300px"></div>
</div>





<h1 style="text-align: center;">Food Distributions</h1>

<div class="row">
    <div class="col-md-6" style="padding:40px">As Antyodaya is one day event. After completing all the events ,children got tired so to make them enthusiastic again at the prize distribution, food packets are given to them.

</div>

</div>


</div><!-- .container -->
</div><!-- .page-header ---->
{% endblock%}