{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-header" style="background-color: rgba(21,21,21,.9);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color: white; margin-top: 40px; text-align: center;">ANTYODAYA</h1>
                
                <br>
                <div class="container">
                    <img width="100%" height="700px" src="{% static 'images/antod.jpg' %}" alt="">
                </div>
                <br><br>
                <h5 style="text-align:center;font-weight: 400; color: white;">Anokhi पहल is the non profit organisation
                    run by the students of MNNIT Allahabad and is working to provide education to the less fortunate.

                    Antyodaya-the annual fest of anokhi पहल. We aim to create a unique platform for students who have
                    lot of potential, all they needof from different Government schools(where activities or events are
                    not conducted for the sake of students) of prayagraj participate and gain a unique experience and
                    exposure while having fun along the way. The various scientific, cultural and artistic competitions
                    have been specifically designed to judge students based on their creative, analytical and innovative
                    ability. Every year Antyodaya is conducted on eve on Children’s Day within the college campus.
                    Antyodaya is conducted for an all-round learning experience filled with fun!

                    Anokhi पहल has successfully conducted 3 editions so far and November, 2020 will witness fourth
                    edition of Antyodaya.


                </h5>
            </div>
            <!-- .col -->
        </div>

        <!-- .row -->

        <br><br>
    </div>
</div>


<!--Prize distribution section-->
<div class="page-header"
    style="background-image: url(https://i.pinimg.com/originals/a9/9b/bf/a99bbfadb879e3046604063f06539276.jpg);">
    <div class="container">
        <div class="home-page-icon-boxes">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <figure class="d-flex justify-content-center">
                                <img src="images/hands-gray.png" alt="" >
                                <img src="images/hands-white.png" alt="">
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">We are a big family.
                            </header>

                            <div class="entry-content">
                                <br><br>
                                <p>500+
                                    Students
                                    Participate every year.
                                </p>
                                <br><br><br><br>
                            </div>
                        </div>


                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <figure class="d-flex justify-content-center">
                                <img src="images/donation-gray.png" alt="">
                                <img src="images/donation-white.png" alt="">
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Volunteers</h3>
                            </header>

                            <div class="entry-content">
                                <p>We have a big family of coordinators, volunteers and faculties.With 80+ volunteers we
                                    always stands on people expectations.From managing finances,scheduling and public
                                    relation its never easy to go ahead without these amazing volunteers.
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <figure class="d-flex justify-content-center">
                                <img src="images/charity-gray.png" alt="">
                                <img src="images/charity-white.png" alt="">
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Its all about your happiness and joy.</h3>
                            </header>

                            <div class="entry-content">
                                <br><br>
                                <p> 12+ Events are organised in Antyodaya</p>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .home-page-icon-boxes -->
    </div>
</div>
<div class="page-header"
    style="background-image: url(https://i.pinimg.com/564x/eb/19/d7/eb19d7ac448b3d254568dbb0f5d458a1.jpg);">
    <div class="container" style="color: white;">
        <br>
        <h1 style="text-align: center;" style="color: white;">Events</h1>
        <br>

        <div class="row" style="border: white 5px dotted;">
            <br>
            <br>
            <div class="col-md-6" style="padding:40px; font-size: 20px; ">
                <h4 style="text-decoration: underline white;">Project Demonstration</h4>
                In this event, students will be making innovative model to solve daily life problems.This is a flagship
                event in which the problem statements have been framed to target the problems in daily life and creating
                an efficient way to solve by being creative, analysing and identifying the problem and finally coming up
                with an innovative solution.The event would have exciting prizes along with cash prize.
            </div>
            <div class="col-md-6" style="padding:40px; " ><img src="{% static 'images/36.jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>

        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Quiz</h4>
                Quiz is the only way to check the mental and spontaneous thinking abilities of a student. This quiz is
                to be based on basic science facts, aptitude and reasoning. The event is sectioned into two groups with
                6th to 8th in junior group and 9th to 12th in senior.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (4).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>

        <div class="row" style="border: white 5px dotted;">


            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Young Innoverse Challenge</h4>
                Every participant of Antyodaya would be required to submit an innovative approach to the given problem
                statements that deal with daunting social problems
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (4).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Oration</h4>
                The art of delivering your views, thoughts and opinions is oration. It allows us to form connections,
                influence decisions, and motivate change. This event is scheduled to be conducted in both Hindi and
                English language.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (3).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Singing</h4>
                Expression your emotions through music is singing. It tests the combination of fluency, speed and of
                voice. Antyodaya team conducts mono/duet singing and give chance to children to show their talent
                through singing.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (1).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <br>

                <h4 style="text-decoration: underline white;">Poster Making</h4>
                Art is nothing but the expression of human imagination, visualization and thought processing. Art is the
                only field where creativity comes out with shining results.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (6).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Fancy Dress Competition</h4>
                Fancy dress is one of the most exciting things for young ones. They love to dress apart and resemble
                their favourite animal, fruit or any cartoon character.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1.jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Games</h4>
                A game is a system in which players engage in an artificial conflict, defined by rules, that results in
                a quantifiable outcome.A game is a form of art.
            </div>
            <div class="col-md-6" style="padding:40px" ><img src="{% static 'images/ap (1).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;" ></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;"><br>
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Mono/Duet Act</h4>

                We often do not completely understand all the emotions that are conveyed to us. Acting helps us live in
                those moments, it is thus the most powerful form to communicate and interact with the masses.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap1 (2).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Essay Writing</h4>
                Essay writing is the best method to check how well a student can describe his thoughts with respect to
                any given topic. This is why essay writing competition is scheduled for both junior and senior group.
                The competition is distinctly conducted in two languages, i.e, English and Hindi.
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/4.jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
        <br>
        <div class="row" style="border: white 5px dotted;">
            <div class="col-md-6" style="padding:40px; font-size: 20px;">
                <br>
                <br>
                <br>
                <h4 style="text-decoration: underline white;">Sports Events</h4>
                (Race , Chess , slow cycling)
                Sports is as important as academics. Every student often foregoes physical fitness to build mental
                fortitude not realising that both often are as important in forming their brains
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap (2).jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
    </div>

    <br>
    <br>


</div>
</div>


<div class="page-header"
    style="background-image: url(https://color-hex.org/colors/f4816f.png);">
    <br>
    <br>
    <div class="container" style="border: white 5px dotted;">
        <br>
        <br>
        <h1 style="text-align: center; color: white; ">Prize Distributions</h1>

        <div class="row">
            <div class="col-md-6" style="padding:40px; color: white; font-size: 20px;">
                <br>
                <br>
                <b>Winners of anokhi पहल were awarded Certificate of achievement for
                    outstanding efforts to help protect and preserve the environment(young innoverse challenge).
                    Some children are unable to find out that in which side (technical,cultural etc) they can do
                    best.</b>


            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/ap13.jpeg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>
        </div>
    </div>

    <br>


    <div class="container" style="border: white 5px dotted;">
        <br>
        <br>

        <h1 style="text-align: center; color: white;">Food Distributions</h1>

        <div class="row">

            <div class="col-md-6" style="padding:40px; color: white; font-size: 20px;">
                <br>
                <br>
                <br>
                <b>
                    As Antyodaya is one day event. After completing all the events
                    ,children got tired so to make them enthusiastic again at the prize distribution, food packets are
                    given
                    to them.
                </b>
            </div>
            <div class="col-md-6" style="padding:40px"><img src="{% static 'images/food.jpg' %}" width="400px"
                    height="300px" style="border: 3px solid white; border-radius:5px;"></div>

        </div>

    </div>
    <br>
    <br>
</div>




<!-- .container -->
<!-- .page-header ---->

<div style="min-height: 500px;background-color:  #2a8399;" data-aos="zoom-in">

    <br>

    <h1 style="text-align: center; color: white; text-decoration: underline white;">Antyodaya Gallery</h1>
    <h4 style="color: white; text-align: center; ">Click the pictures for more information</h4>


    <div class="container_img">
        <div class="gallery">
            <a href="https://i.postimg.cc/R0SJNYnb/chess-anto.jpg" data-lightbox="models"
                data-title="
          Chess is quite like a brain tonic which enhances concentration, patience, and perseverance, as well as develops creativity, intuition, memory, and most importantly, the ability to process and extract information from a set of general principles, learning to make tough decisions and solving problems flexibly.">

                <img src="https://i.postimg.cc/R0SJNYnb/chess-anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>

                <a href="https://i.postimg.cc/BnFYpMNg/poster-Anto.jpg" data-lightbox="models"
                    data-title="	
          Poster Making:
          Art is nothing but the expression of human imagination, visualization and thought processing. Art is the only field where creativity comes out with shining results.">
                    <img src="https://i.postimg.cc/BnFYpMNg/poster-Anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/JhqDZHDq/dance-Antoo.jpg" data-lightbox="models"
                    data-title="Mono/Duet Act:
          We often do not completely understand all the emotions that are conveyed to us. Acting helps us live in those moments, it is thus the most powerful form to communicate and interact with the masses.">
                    <img src="https://i.postimg.cc/JhqDZHDq/dance-Antoo.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/tC4wy3kd/singing-Anto.jpg" data-lightbox="models"
                    data-title="	
      
          Oration:
          The art of delivering your views, thoughts and opinions is oration. It allows us to form connections, influence decisions, and motivate change. This event is scheduled to be conducted in both Hindi and English language.">
                    <img src="https://i.postimg.cc/tC4wy3kd/singing-Anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/Twj6pnKd/fancydress-anto.jpg" data-lightbox="models"
                    data-title="Fancy Dress Competition:
          Fancy dress is one of the most exciting things for young ones. They love to dress apart and resemble their favourite animal, fruit or any cartoon character.">
                    <img src="https://i.postimg.cc/Twj6pnKd/fancydress-anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/rwR7D5HB/innov.jpg" data-lightbox="models"
                    data-title="Young Innoverse Challenge:
          Every participant of Antyodaya would be required to submit an innovative approach to the given problem statements that deal with daunting social problems.">
                    <img src="https://i.postimg.cc/rwR7D5HB/innov.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/1zTV5hL0/anokhiteam-anto.jpg" data-lightbox="models"
                    data-title="Anokhi Pehel">
                    <img src="https://i.postimg.cc/1zTV5hL0/anokhiteam-anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
                <a href="https://i.postimg.cc/mgKVJq8q/games-Anto.jpg" data-lightbox="models"
                    data-title="Games:
          A game is a system in which players engage in an artificial conflict, defined by rules, that results in a quantifiable outcome.A game is a form of art.">
                    <img src="https://i.postimg.cc/mgKVJq8q/games-Anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>

                <a href="https://i.postimg.cc/wBBK63NP/essay-anto.jpg" data-lightbox="models"
                    data-title="	
        Essay Writing:
        Essay writing is the best method to check how well a student can describe his thoughts with respect to any given topic. This is why essay writing competition is scheduled for both junior and senior group. The competition is distinctly conducted in two languages, i.e, English and Hindi.">
                    <img src="https://i.postimg.cc/wBBK63NP/essay-anto.jpg" data-lightbox="models"style="border: 2px solid black; border-radius:5px;" />
                </a>
                <a href="https://i.postimg.cc/Jzv3h2HL/racing-Anto.jpg" data-lightbox="models"
                    data-title="	
      Sports Events (Race, Chess, slow cycling):
      Sports are as important as academics. Every student often foregoes physical fitness to build mental fortitude not realising that both often are as important in forming their brains">
                    <img src="https://i.postimg.cc/Jzv3h2HL/racing-Anto.jpg" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>


                <a href="https://i.postimg.cc/tTWGcwWC/online-anto-poster.png" data-lightbox="models"
                    data-title="	
    Note - All events will be held in Online Mode::
   We intended to bring the same exuberant smile on their faces that year around too. After all, absence does make the heart grow fonder and we planned on bringing the same level of excitement to each of our students.">

                    <img src="https://i.postimg.cc/tTWGcwWC/online-anto-poster.png" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>


                <a href="https://i.postimg.cc/FKkMf8Pg/ludo-online-Anto.png" data-lightbox="models" data-title="	online activities.
  ">
                    <img src="https://i.postimg.cc/FKkMf8Pg/ludo-online-Anto.png" data-lightbox="models" style="border: 2px solid black; border-radius:5px;"/>
                </a>
        </div>
    </div>


</div>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/antyo.js' %}"></script>
<!--Collapsing menu script-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- AOS js file-->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>


<!-- Lightbox Script tag   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.js"
    integrity="sha512-0rYcJjaqTGk43zviBim8AEjb8cjUKxwxCqo28py38JFKKBd35yPfNWmwoBLTYORC9j/COqldDc9/d1B7dhRYmg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--read more-->
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

{% endblock%}