{%extends 'base.html' %}
{% load staticfiles %}
{%block content%}
<h1 style="text-align:center">EVENING CLASS</h1>
<i>
<div class="container">
<div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap">
                <img  src="{% static 'images/7.jpg' %}" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">

                                    <h4>"Arguments leads who is right and discussions leads to what is right"</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">

                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->

            <div class="swiper-slide hero-content-wrap">
                <img src="{% static 'images/6.jpg' %}" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">

                                    <h4>“Bhaiya padhne ka mann nahi kar rah, Bhaiya-accha chalo ek game khelte hain…"</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">
                                </div><!-- .entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->

            <div class="swiper-slide hero-content-wrap">
                <img src="{% static 'images/8.jpg' %}" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">

                                    <h4>"A person who never made a mistake never tried anything new."</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">

                                </div><!-- .entry-content -->

                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
        </div><!-- .swiper-wrapper -->

        <div class="pagination-wrap position-absolute w-100">
            <div class="container">
                <div class="swiper-pagination"></div>
            </div><!-- .container -->
        </div><!-- .pagination-wrap -->

        <!-- Add Arrows -->
        <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
        </div>

        <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
        </div>
    </div>
</div>
</i>
<br>
<br>
<i>
<div class="container">
    <b><p>Anokhi Pehel is committed to providing basic education to such underprivileged kids, to empower their families and help them evolve as good citizens. It also helps provide sponsorship to children who are unable to pursue education due to lack of funds.</p></b>
    <ul>
       <li>
Regular classes for 12 batches (preparatory 1, 2,3,4 + (5-12)). 250+ students for each session
</li>
        <li>Separate classes for Navodaya (class 5) and competitions like NSO, NTSE, FIIT-JEE for class 9th (striker)</li>
        <li>Mentorship programme for personal attention ( 50+ teachers so students/mentors is 3-4).
</li>
    </ul>
    <br>
<hr>
<hr>
</div>
</i>
    <div class="home-page-events">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="upcoming-events">
                        <div class="section-heading">
                            <h2 class="entry-title">Time Table</h2>
                        </div>

                            {% for ti in time %}
                        <a href="{{ ti.file.url }}"> <b><p> {{ti.title}}</p></b></a>

                            {% endfor %}

                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="upcoming-events">
                        <div class="section-heading">
                            <h2 class="entry-title">Student List</h2>
                        </div><!-- .section-heading -->
                        {% for stu in list %}
                        <a href="{{ stu.file.url }}"> <b><p> {{stu.title}}</p></b></a>

                        {% endfor %}
                           
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}