{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="post" action="{% url 'event:addpro' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" required>
        <input type="text" name="title" placeholder="title" required><br>
        <input type="text" name="desc" placeholder="description" required><br>
        <input type="date" name="date" required><br>
        <button type="submit">Add</button>
    </form>

</div>

<div class="container">
    {% for im in prog %}
    <div class="col-md-3">{{ im.title }}</div>
    <div class="col-md-3">{{ im.date }}</div>
    <a href="{% url 'event:deletepro' im.id %}">Delete</a>
    {% endfor %}
</div>
<br><br>
{% endblock %}