

{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="container-fluid" style="background-image:url({% static 'images/causes-bg.jpg' %});height: 150px;width: 100%;">
            <div class="row">
                <div class="col-12">
                    <h1 class="entry-title" style="text-align: center;margin-top: 50px;color:#0066cc">UPCOMING EVENTS</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div>
<main role="main">
<div class ="container">

<br />
<br />
<hr />

{% for upcoming in upcoming.all %}
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ upcoming.title }}</strong>
          {{upcoming.pub_date_pretty}}
          <p class="card-text mb-auto">{{ upcoming.summary }}</p>
          <a href="{% url 'event:detail' upcoming.id %}" class="stretched-link">Continue reading</a>
        </div>
        </div>
        <div class="col-auto d-none d-lg-block">
         <!--<embed src="upcoming.files.url" width="400px" height="400px"><embed></embed>/> -->
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
</html>


