{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container" style="margin:0 auto; width:850px" >
         <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="font-size: 20px"> 

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12"><img src="{% static 'images/donate.gif' %}">
                                            </div>
                                        </div><hr>
                                        <b><p>** Important  :   </b>
                                         Please Verify your details and proceed to checkout. <br> <hr>
                                         <h3 style="text-align: center;">TRANSACTION PROFILE DETAILS</h3><hr><hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Membership Id</label>
                                            </div>

                                            <div class="col-md-6">
                                                <p>{{user_id}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user}}</p>
                                            </div>
                                        </div>
                                       
                                        <hr>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{mail}}</p>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{mob}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <hr>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Purpose/Message</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{mess}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <hr>
                                        </div>
                        </div>
                    </div>
                </div>
                            
    <div class="container">
        <form action="{% url 'payment' don_id %}" method="POST">
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key= "rzp_test_3xUWNIS6fYe00a"
                data-amount= "{{ amount }}"
                data-currency= "INR"
                data-buttontext= "Pay with Razorpay"
                data-name="Anokhi Pehel"
                data-description="Donate to Anokhi Pehel MNNIT"
                data-image="{% static 'images/anokhilogo.png' %}"
                data-prefill.name="{{ user }}"
                data-prefill.email="{{ mail }}"
                data-prefill.contact="{{ mob }}"
                data-theme.color="#528FF0"
            >
            </script>
            {% csrf_token %}
           <input type="hidden" custom="Hidden Element" name="hidden"> 
        </form>
    </div>
    <br>
    <br>
{% endblock %}